<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Computer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
    <div class="container my-5">
        <h3>Edit Computer</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/edit/{id}(id=${computer.id})}" th:object="${computer}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="serialNumber" class="col-form-label">Serial Number</label>
                                <input type="text" th:field="*{serialNumber}" class="form-control" id="serialNumber" placeholder="Serial Number" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="model" class="col-form-label">Model</label>
                                <input type="text" th:field="*{model}" class="form-control" id="model" placeholder="Model" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="releaseDate" class="col-form-label">Release Date</label>
                                <input type="text" th:field="*{releaseDate}" class="form-control" id="releaseDate" placeholder="Release Date" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="status" class="col-form-label">Status</label>
                                <input type="checkbox" th:field="*{status}" class="form-check-input" id="status" />
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                            <input type="hidden" th:field="*{id}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
